body {
  background-color: aqua;

  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: antiquewhite;
  color: black;
  text-align: center;
  border-radius: 20px;
  min-width: fit-content;
  max-width: 50%;
  box-shadow: 10px -10px salmon;
  padding: 20px;
  margin-top: 10vh;
}

h1 {
  text-align: center;
}

#input {
  border-radius: 10px;
  height: 30px;
  text-align: center;
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border: solid salmon;
}
p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

#ans-container {
  text-align: center;
  display: none;
  font-size: 20px;
  font-weight: 900;
}

#info {
  color: rgb(245, 32, 8);
  font-weight: 700;
  font-size: 20px;
  display: none;
}
#input::selection {
  border: solid black;
}

audio {
  padding: 20px;

  margin: 30px;
}

.ans {
  color: rgb(245, 32, 8);
}
.ans-val {
  color: black;
}
footer {
  padding-top: 22%;
  color: salmon;
}

.button-container {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 70%;
}
#donate {
  margin: 10px;
  padding: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: yellow;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

#write-us {
  margin: 10px;
  padding: 10px;
  width: auto;
  background-color: yellow;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
