* {
  margin: 0;
}
body {
  background-color: #e6e9f3;
  color: #202020;
}

.container {
  text-align: center;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input {
  height: 40px;
  text-align: center;
  display: block;
  margin: auto;
  color: black;
  font-weight: 700;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid green;
  width: 400px;
  margin-top: 50px;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
}

#ans-container {
  max-width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  display: none;
}

#info {
  color: black;
  font-weight: 700;
  font-size: 20px;
  display: none;
  letter-spacing: 2px;
  padding: 30px;
}
#input::selection {
  border: solid 2px green;
}

audio {
  padding: 20px;
  margin: 30px;
}

.ans {
  color: #f97141;
  font-size: 25px;
}
.ans-val {
  color: black;
  font-size: 25px;
  font-weight: 400;
}

.nav-container {
  color: #e6e9f3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
h1 {
  font-size: 50px;
  display: flex;
  flex-direction: row;

  text-align: center;

  color: #202020;
}
.link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#donate-link {
  display: flex;
  color: #202020;
  text-decoration: none;
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
#write-us-link {
  display: flex;
  color: #202020;
  text-decoration: none;
  margin: 10px;
  padding-right: 20px;
}

#search-button {
  background: rgb(40, 190, 32);
  background: linear-gradient(
    130deg,
    rgba(40, 190, 32, 1) 2%,
    rgba(41, 181, 34, 1) 31%
  );
  padding: 10px;
  margin: 40px;

  width: 300px;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}
#night-mode {
  display: flex;
  color: #202020;
  margin-right: 20px;
  cursor: pointer;
}
